{% extends "base.html" %}
{% load tailwind_filters %}

{% block body_content %}
<div class="flex justify-center md:items-center md:mt-8 h-screen md:h-auto">
    
    <div class="flex flex-col justify-center md:flex-row w-full md:w-4/5 xl:w-2/5 2xl:w-2/5 border bg-white rounded-xl">
        <form action="" method="post" class="p-16">
            {% csrf_token %}
            <h1 class="text-5xl text-center font-semibold mb-8" >Thay đổi mật khẩu</h1>
            {{form | crispy}}
            <input type="submit" class="border-2 w-full bg-transparent hover:text-white hover:bg-black text-black p-4 font-semibold rounded-full" value="Xác nhận">
            <div class="m-4" >
                <small class=""><a href="{% url 'password_reset' %}" class="text-blue-500 hover:underline">Quên mật khẩu?</a></small>
            </div>
        </form>
        
    </div>

 </div>

{% endblock body_content %}