.custom-radio-button label {
    cursor: pointer;
}      
.custom-radio-button input[type="radio"]:checked+label {
    background-color: black;
    color: white;
}
.custom-radio-button input[type="radio"]:hover+label {
    background-color: black;
    color: white;
}