{% extends "base.html" %}
{% block body_content %}
<div class="flex justify-center md:items-center md:mt-8 h-screen md:h-auto">
    
    <div class="flex flex-col justify-center w-full md:w-4/5 xl:w-2/5 2xl:w-2/5 border bg-white p-4  rounded-xl">
        <p class="text-5xl m-4" >Password reset  completed!</p>
        <div class="m-4" >
            <small class="">You have successfully reset your password. Click <a href="{% url 'accounts:login' %}" class="text-blue-500 hover:underline">here</a> to login.</small>
        </div>
    </div>

 </div>
{% endblock body_content %}