{% extends "base.html" %}
{% load tailwind_filters %}
{% load static %}
{% block body_content %}
<div class="flex justify-center items-center md:mt-16">
    <form action="" method="post" class="bg-white border-black rounded-xl p-4">
        {% csrf_token %}
        {{form | crispy}}
        <input type="submit" class="border-2 border-black w-full bg-transparent hover:text-white hover:bg-black text-black p-4 m-4 md:m:0 xl:m-0 font-semibold rounded-full" value="Lưu">
    </form>
 </div>
{% endblock body_content %}