{% extends "base.html" %}
{% load static %}
{% block body_content %}
<img src="{% static 'media/images/hp-img.jpg' %}" class="w-full" alt="">

<div  id="searchBox" class="flex justify-center items-center mt-16 md:mt-8 md:ml-0 xl:mt-8 xl:ml-0 ">
     
     <form action="{% url 'items:search' %}" class ="flex  flex-wrap justify-center  w-2/5 md:w-3/5" method="POST">
     {% csrf_token %}
     {% for cate in categories %}
       <a href="{% url 'items:filter-by-cate' cate.pk %}" class="p-2 hover:underline">
          {{cate.name}}
       </a>
     {% endfor %}
      <input type="text" name="searchBar" id="searchBar" placeholder="Tìm kiếm sản phẩm" class="rounded-full text-center p-2 text-black ml-2" >
      <input type="submit" id="search" value ="Tìm" class="bg-transparent ml-2 hover:underline p-4 cursor-pointer" >
     </form>
 </div>
<div class="">
     <div id="itemsBox" class="grid grid-cols-10 md:grid-cols-6 xl:grid-cols-8 2xl:grid-cols-10 infinite-container">
         {% for item in items %}
         <div class="col-span-5 md:col-span-2 xl:col-span-2 2xl:col-span-2 m-2 mt-4 md:mt-8 border bg-white rounded-xl p-2 infinite-item">
          <a href="{% url 'items:details' item.slug %}"class="">
               <div class="flex flex-col">
                   {% if item.image %}
                   <img src="{{item.image.url}}" class="w-full h-48 md:h-64 xl:h-84 2xl:h-96" alt="">
                   {% else %}
                   <img src="{% static 'media/images/img-not-found.gif' %}" class="w-full h-48 md:h-64 xl:h-84 2xl:h-96" alt="">
                   {% endif %}
                    <div class=" flex justify-between flex-wrap md:mt-4">
                         <div class="">
                              <label class="text-xl text-center text-gray-600 font-semibold  border-b-2">{{item.name}}</label><br>
                              {% if item.discount_price %}
                              <label class="text-2xl text-center text-black font-semibold">{{item.item_formated_discount_price}}</label>
                              <del class="text-lg text-center text-red-500 font-semibold" for="">{{item.item_formated_price}}</del>
                              {% else %}
                              <label class="text-xl text-center text-black font-semibold">{{item.item_formated_price}}</label>
                              {% endif %}
                         </div>     
                       <a href="{% url 'items:details' item.slug %}" class="border-2 hover:bg-black hover:text-white text-black bg-transparent font-semibold p-4 rounded-xl">Chi tiết</a>
                   </div>
               </div>
              </a>
          </div><!--Div item-->
         {% endfor %}
     </div>
</div><!--Div main body-->

<!-- Sticky Button -->
<a href="{% url 'items:cart' %}"  class="hidden fixed right-0 bottom-64 text-xl rounded-xl" id="btnToTop2">
  <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-cart-ecommerce-flatart-icons-outline-flatarticons-4.png"/>
</a>
<a href="" class="hidden fixed right-0 bottom-32 text-xl rounded-xl" id="btnToTop">
  <img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/64/000000/external-up-arrow-arrow-flatart-icons-solid-flatarticons-10.png"/>
</a>
<!-- Infinite scroll -->
<div class = "flex justify-center">
  <div>
    {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
  </div>
  <div class="loading" style="display: none;">
    Loading...
  </div>
</div><!--Div infinite scroll-->
{% endblock body_content %}
{% block script %}

<script>
  //Get the button
  var mybutton = document.getElementById("btnToTop");
  var mybutton2 = document.getElementById("btnToTop2");
  
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
      mybutton.style.display = "block";
      mybutton2.style.display = "block";
    } else {
      mybutton.style.display = "none";
      mybutton2.style.display = "none";
    }
  }
  
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  </script>

<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>
  <script>
    var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                // $('.loading').show();
            },
            onAfterPageLoad: function () {
                // $('.loading').hide();
            }
        });
  </script>
   
{% endblock script %}